In [20]:
import pandas as pd

# file path
path = r'C:\Users\Tony\Desktop\github\Dataquest-modules\datascience\Formated.csv'

#read file
df = pd.read_csv(path,names=['stock_name','date','Open','High','Low','Close','Open_Interest'])
# show file top five rows
df

      stock_name         date    Open    High     Low   Close  Open_Interest
0           ADDA  19-Nov-2019   11.00   36.00  -10.00   -9.00              0
1           ADDC  19-Nov-2019   -8.00    5.00  -36.00  -25.00              0
2           ADDE  19-Nov-2019  521.00  521.00 -196.00  126.00              0
3           ADDN  19-Nov-2019  335.00  335.00 -326.00  -93.00              0
4           ADDQ  19-Nov-2019  607.00  830.00  106.00  519.00              0
...          ...          ...     ...     ...     ...     ...            ...
24228       Z6FI  04-Dec-2019   56.98   61.29   56.98   61.29              0
24229       Z6OF  04-Dec-2019   49.46   51.61   49.46   50.53              0
24230       Z6OH  04-Dec-2019   47.31   48.38   47.31   48.38              0
24231       Z6TH  04-Dec-2019   48.38   50.53   47.31   50.53              0
24232       Z6TW  04-Dec-2019   50.53   55.91   48.38   55.91              0

[24233 rows x 7 columns]

In [21]:
df = df[(df[['Open','High','Low','Close','Open_Interest']] >= 0).all(axis=1)]
df

      stock_name         date    Open    High     Low   Close  Open_Interest
4           ADDQ  19-Nov-2019  607.00  830.00  106.00  519.00              0
10          ADRA  19-Nov-2019    1.16    1.52    0.90    0.91              0
11          ADRC  19-Nov-2019    0.87    1.06    0.70    0.80              0
12          ADRE  19-Nov-2019    2.25    2.25    0.80    1.12              0
13          ADRN  19-Nov-2019    1.44    1.44    0.70    0.90              0
...          ...          ...     ...     ...     ...     ...            ...
24228       Z6FI  04-Dec-2019   56.98   61.29   56.98   61.29              0
24229       Z6OF  04-Dec-2019   49.46   51.61   49.46   50.53              0
24230       Z6OH  04-Dec-2019   47.31   48.38   47.31   48.38              0
24231       Z6TH  04-Dec-2019   48.38   50.53   47.31   50.53              0
24232       Z6TW  04-Dec-2019   50.53   55.91   48.38   55.91              0

[23208 rows x 7 columns]

In [22]:
counts = df['stock_name'].value_counts()
counts

YKOH    12
Z1OH    12
N6DK    12
MWOH    12
YFOF    12
        ..
M3DL     1
ADDV     1
ADDU     1
M3DT     1
QVLF     1
Name: stock_name, Length: 2151, dtype: int64

In [23]:
counts.dtypes

dtype('int64')

In [25]:
stock_most_data = df.stock_name.mode()
stock_most_data

0      ADRC
1      ADRS
2      ADRV
3      ADRX
4      ADVC
       ...
431    Z5FI
432    Z5OF
433    Z5OH
434    Z5TH
435    Z5TW
Length: 436, dtype: object

In [27]:
ADRC = df[df['stock_name'] == 'ADRC']
ADRC

      stock_name         date  Open  High   Low  Close  Open_Interest
11          ADRC  19-Nov-2019  0.87  1.06  0.70   0.80              0
2166        ADRC  20-Nov-2019  2.59  2.75  2.04   2.04              0
4321        ADRC  21-Nov-2019  1.83  1.85  1.30   1.40              0
6482        ADRC  22-Nov-2019  0.73  0.73  0.46   0.59              0
8643        ADRC  25-Nov-2019  0.71  0.71  0.43   0.54              0
10804       ADRC  26-Nov-2019  0.90  0.90  0.47   0.49              0
12965       ADRC  27-Nov-2019  0.67  0.94  0.65   0.86              0
15116       ADRC  28-Nov-2019  1.24  1.24  0.81   0.95              0
15600       ADRC  29-Nov-2019  1.53  1.59  1.00   1.21              0
17761       ADRC  02-Dec-2019  1.14  1.14  0.54   0.62              0
19922       ADRC  03-Dec-2019  0.66  0.73  0.51   0.61              0
22083       ADRC  04-Dec-2019  0.89  1.02  0.58   0.71              0

In [30]:
ADRC['date'] = pd.to_datetime(ADRC['date'],dayfirst=True)

In [31]:
ADRC = ADRC.sort_values('date')
ADRC

      stock_name       date  Open  High   Low  Close  Open_Interest
11          ADRC 2019-11-19  0.87  1.06  0.70   0.80              0
2166        ADRC 2019-11-20  2.59  2.75  2.04   2.04              0
4321        ADRC 2019-11-21  1.83  1.85  1.30   1.40              0
6482        ADRC 2019-11-22  0.73  0.73  0.46   0.59              0
8643        ADRC 2019-11-25  0.71  0.71  0.43   0.54              0
10804       ADRC 2019-11-26  0.90  0.90  0.47   0.49              0
12965       ADRC 2019-11-27  0.67  0.94  0.65   0.86              0
15116       ADRC 2019-11-28  1.24  1.24  0.81   0.95              0
15600       ADRC 2019-11-29  1.53  1.59  1.00   1.21              0
17761       ADRC 2019-12-02  1.14  1.14  0.54   0.62              0
19922       ADRC 2019-12-03  0.66  0.73  0.51   0.61              0
22083       ADRC 2019-12-04  0.89  1.02  0.58   0.71              0

In [ ]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

In [ ]:
df = df.sort_values(['stock_name','date'])

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
# df = df.set_index('stock_name')

In [ ]:
df = df[(df[['Open','High','Low','Close','Open_Interest']] >= 0).all(axis=1)]
# df = df.iloc[:2000,:]
df

In [ ]:
# !pip install pandas_profiling

In [ ]:
import pandas_profiling as pp

pp.ProfileReport(df)

In [ ]:
X = df.iloc[:,2:6]

In [ ]:
y = df.stock_name

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2, random_state = 0)

In [ ]:
X_train

In [ ]:
y_train

## Building Models
+ GradientBoostingClassifier
+ DecisionTree
+ XGboost

In [ ]:
# !pip install ensemble

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import utils

In [ ]:
lab_enc = preprocessing.LabelEncoder()
training_scores_encoded = lab_enc.fit_transform(y_train)

In [ ]:
print(utils.multiclass.type_of_target(y_train))
print(utils.multiclass.type_of_target(y_train.astype('str')))
print(utils.multiclass.type_of_target(training_scores_encoded))

In [ ]:
GB_classifier = GradientBoostingClassifier()
GB_classifier.fit(X_train, training_scores_encoded)#training_scores_encoded

In [ ]:
y_predictions = GB_classifier.predict(X_test)

In [ ]:
y_predictions

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
print("Accuracy of Model::", accuracy_score(y_test,y_predictions))