In [1]:
import pandas as pd
path = r'C:\Users\Tony\AppData\Local\Packages\microsoft.windowscommunicationsapps_8wekyb3d8bbwe\LocalState\Files\S0\7535\Attachments\TONY.csv'

df = pd.read_csv(path,names=['stock','date','open','high','low','close','volume','dividends'])

In [2]:
df.head()

  stock      date   open     high      low    close  volume  dividends
0  AAAU  5-Sep-19  15.35  15.3500  15.0600  15.1550  162700        NaN
1  AADR  5-Sep-19  50.14  50.1400  49.8300  49.9600    8500        NaN
2  AAMC  5-Sep-19  10.70  10.9550  10.7000  10.7000    2000        NaN
3   AAU  5-Sep-19   0.72   0.7301   0.6400   0.6701  704900        NaN
4  ACES  5-Sep-19  31.05  31.0700  30.7164  30.8064   11100        NaN

In [3]:
df['stock'].value_counts(normalize=True).sort_values()

IPO     0.000452
EMIH    0.000452
YMLI    0.000452
XLC     0.000452
TGB     0.000452
          ...
CCF     0.000452
ICOL    0.000452
VKI     0.000452
SRVR    0.000452
EFG     0.000452
Name: stock, Length: 2213, dtype: float64

In [4]:
df = df.loc[:10,'stock']
df

0     AAAU
1     AADR
2     AAMC
3      AAU
4     ACES
5     ACIM
6     ACIO
7     ACSG
8     ACSI
9      ACU
10    ACWF
Name: stock, dtype: object

In [5]:
import yfinance as yf

list_data= []

for i,stock in enumerate(df):
    names = yf.Ticker(stock)
    history = names.history(start='2018-01-01',end='2020-02-01')
    names = pd.DataFrame(history)
    names['Stock'] = stock
    
    list_data.append(names)

In [6]:
list_data = pd.concat(list_data)

In [7]:
list_data = list_data[['Stock','Close','Dividends','High','Low','Open','Stock Splits','Volume']]

In [8]:
list_data

           Stock  Close  Dividends   High    Low   Open  Stock Splits  Volume
Date
2018-08-15  AAAU  11.74        0.0  11.84  11.74  11.84             0   27300
2018-08-16  AAAU  11.74        0.0  11.80  11.74  11.78             0  428400
2018-08-17  AAAU  11.82        0.0  11.82  11.77  11.80             0   52400
2018-08-20  AAAU  11.90        0.0  11.91  11.85  11.88             0   28700
2018-08-21  AAAU  11.93        0.0  11.95  11.89  11.92             0   30600
...          ...    ...        ...    ...    ...    ...           ...     ...
2019-12-27  ACWF  31.27        0.0  31.31  31.22  31.22             0    3100
2019-12-30  ACWF  31.16        0.0  31.28  31.10  31.24             0   20000
2019-12-31  ACWF  31.20        0.0  31.20  31.12  31.17             0    8300
2020-01-02  ACWF  31.44        0.0  31.44  31.30  31.38             0    6400
2020-01-03  ACWF  31.17        0.0  31.23  31.14  31.16             0    4200

[4589 rows x 8 columns]

In [9]:
list_data.head()

           Stock  Close  Dividends   High    Low   Open  Stock Splits  Volume
Date
2018-08-15  AAAU  11.74        0.0  11.84  11.74  11.84             0   27300
2018-08-16  AAAU  11.74        0.0  11.80  11.74  11.78             0  428400
2018-08-17  AAAU  11.82        0.0  11.82  11.77  11.80             0   52400
2018-08-20  AAAU  11.90        0.0  11.91  11.85  11.88             0   28700
2018-08-21  AAAU  11.93        0.0  11.95  11.89  11.92             0   30600

In [10]:
list_data['PCT_Change_Close'] = list_data.Close.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change_Close

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

Date
2018-08-15         NaN
2018-08-16    0.000000
2018-08-17    0.681431
2018-08-20    0.676819
2018-08-21    0.252101
                ...
2019-12-27    0.192246
2019-12-30   -0.351775
2019-12-31    0.128370
2020-01-02    0.769231
2020-01-03   -0.858779
Name: PCT_Change_Close, Length: 4589, dtype: float64

In [11]:
list_data.head()

,Stock,Close,Dividends,High,Low,Open,Stock Splits,Volume,PCT_Change_Close
Date,,,,,,,,,
2018-08-15,AAAU,11.74,0.0,11.84,11.74,11.84,0,27300,NaN
2018-08-16,AAAU,11.74,0.0,11.80,11.74,11.78,0,428400,0.000000
2018-08-17,AAAU,11.82,0.0,11.82,11.77,11.80,0,52400,0.681431
2018-08-20,AAAU,11.90,0.0,11.91,11.85,11.88,0,28700,0.676819
2018-08-21,AAAU,11.93,0.0,11.95,11.89,11.92,0,30600,0.252101

In [12]:
# pd.options.display.float_format = '${:,.2f}'.format
list_data.PCT_Change_Close = list_data.PCT_Change_Close.map('{:,.2f}'.format)
list_data = list_data[['Stock','Close','PCT_Change_Close','Open','High','Low','Stock Splits','Dividends','Volume']]

In [13]:
list_data

,Stock,Close,PCT_Change_Close,Open,High,Low,Stock Splits,Dividends,Volume
Date,,,,,,,,,
2018-08-15,AAAU,11.74,nan,11.84,11.84,11.74,0,0.0,27300
2018-08-16,AAAU,11.74,0.00,11.78,11.80,11.74,0,0.0,428400
2018-08-17,AAAU,11.82,0.68,11.80,11.82,11.77,0,0.0,52400
2018-08-20,AAAU,11.90,0.68,11.88,11.91,11.85,0,0.0,28700
2018-08-21,AAAU,11.93,0.25,11.92,11.95,11.89,0,0.0,30600
...,...,...,...,...,...,...,...,...,...
2019-12-27,ACWF,31.27,0.19,31.22,31.31,31.22,0,0.0,3100
2019-12-30,ACWF,31.16,-0.35,31.24,31.28,31.10,0,0.0,20000
2019-12-31,ACWF,31.20,0.13,31.17,31.20,31.12,0,0.0,8300
2020-01-02,ACWF,31.44,0.77,31.38,31.44,31.30,0,0.0,6400
2020-01-03,ACWF,31.17,-0.86,31.16,31.23,31.14,0,0.0,4200

In [14]:
list_data['PCT_Change_Open'] = list_data.Open.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change_Open = list_data.PCT_Change_Open.map('{:,.2f}'.format)
list_data = list_data[['Stock','Close','PCT_Change_Close','Open','PCT_Change_Open','High','Low','Stock Splits','Dividends','Volume']]

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.
c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [15]:
list_data.head()

,Stock,Close,PCT_Change_Close,Open,PCT_Change_Open,High,Low,Stock Splits,Dividends,Volume
Date,,,,,,,,,,
2018-08-15,AAAU,11.74,nan,11.84,nan,11.84,11.74,0,0.0,27300
2018-08-16,AAAU,11.74,0.00,11.78,-0.51,11.80,11.74,0,0.0,428400
2018-08-17,AAAU,11.82,0.68,11.80,0.17,11.82,11.77,0,0.0,52400
2018-08-20,AAAU,11.90,0.68,11.88,0.68,11.91,11.85,0,0.0,28700
2018-08-21,AAAU,11.93,0.25,11.92,0.34,11.95,11.89,0,0.0,30600

In [16]:
list_data['PCT_Change_Open'] = list_data.Open.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change_Open = list_data.PCT_Change_Open.map('{:,.2f}'.format)
list_data = list_data[['Stock','Close','PCT_Change_Close','Open','PCT_Change_Open','High','Low','Stock Splits','Dividends','Volume']]

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

In [17]:
list_data['PCT_Change_High'] = list_data.High.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change_High = list_data.PCT_Change_High.map('{:,.2f}'.format)
list_data = list_data[['Stock','Close','PCT_Change_Close','Open','PCT_Change_Open','High','PCT_Change_High','Low','Stock Splits','Dividends','Volume']]

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

In [18]:
list_data.head()

,Stock,Close,PCT_Change_Close,Open,PCT_Change_Open,High,PCT_Change_High,Low,Stock Splits,Dividends,Volume
Date,,,,,,,,,,,
2018-08-15,AAAU,11.74,nan,11.84,nan,11.84,nan,11.74,0,0.0,27300
2018-08-16,AAAU,11.74,0.00,11.78,-0.51,11.80,-0.34,11.74,0,0.0,428400
2018-08-17,AAAU,11.82,0.68,11.80,0.17,11.82,0.17,11.77,0,0.0,52400
2018-08-20,AAAU,11.90,0.68,11.88,0.68,11.91,0.76,11.85,0,0.0,28700
2018-08-21,AAAU,11.93,0.25,11.92,0.34,11.95,0.34,11.89,0,0.0,30600

In [19]:
list_data.drop(['Close','Open','High'],axis=1)

,Stock,PCT_Change_Close,PCT_Change_Open,PCT_Change_High,Low,Stock Splits,Dividends,Volume
Date,,,,,,,,
2018-08-15,AAAU,nan,nan,nan,11.74,0,0.0,27300
2018-08-16,AAAU,0.00,-0.51,-0.34,11.74,0,0.0,428400
2018-08-17,AAAU,0.68,0.17,0.17,11.77,0,0.0,52400
2018-08-20,AAAU,0.68,0.68,0.76,11.85,0,0.0,28700
2018-08-21,AAAU,0.25,0.34,0.34,11.89,0,0.0,30600
...,...,...,...,...,...,...,...,...
2019-12-27,ACWF,0.19,0.00,0.19,31.22,0,0.0,3100
2019-12-30,ACWF,-0.35,0.06,-0.10,31.10,0,0.0,20000
2019-12-31,ACWF,0.13,-0.22,-0.26,31.12,0,0.0,8300
2020-01-02,ACWF,0.77,0.67,0.77,31.30,0,0.0,6400
2020-01-03,ACWF,-0.86,-0.70,-0.67,31.14,0,0.0,4200

In [20]:
list_data['PCT_Change_Low'] = list_data.Low.rolling(2).apply(lambda x:(x[1]-x[0])/x[0] * 100)
list_data.PCT_Change_Low = list_data.PCT_Change_Low.map('{:,.2f}'.format)
list_data = list_data[['Stock','PCT_Change_Close','PCT_Change_Open','PCT_Change_High','Low','PCT_Change_Low','Stock Splits','Dividends','Volume']]

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

In [21]:
list_data.head()

,Stock,PCT_Change_Close,PCT_Change_Open,PCT_Change_High,Low,PCT_Change_Low,Stock Splits,Dividends,Volume
Date,,,,,,,,,
2018-08-15,AAAU,nan,nan,nan,11.74,nan,0,0.0,27300
2018-08-16,AAAU,0.00,-0.51,-0.34,11.74,0.00,0,0.0,428400
2018-08-17,AAAU,0.68,0.17,0.17,11.77,0.26,0,0.0,52400
2018-08-20,AAAU,0.68,0.68,0.76,11.85,0.68,0,0.0,28700
2018-08-21,AAAU,0.25,0.34,0.34,11.89,0.34,0,0.0,30600

In [22]:
list_data.drop(['Low'],axis=1)

,Stock,PCT_Change_Close,PCT_Change_Open,PCT_Change_High,PCT_Change_Low,Stock Splits,Dividends,Volume
Date,,,,,,,,
2018-08-15,AAAU,nan,nan,nan,nan,0,0.0,27300
2018-08-16,AAAU,0.00,-0.51,-0.34,0.00,0,0.0,428400
2018-08-17,AAAU,0.68,0.17,0.17,0.26,0,0.0,52400
2018-08-20,AAAU,0.68,0.68,0.76,0.68,0,0.0,28700
2018-08-21,AAAU,0.25,0.34,0.34,0.34,0,0.0,30600
...,...,...,...,...,...,...,...,...
2019-12-27,ACWF,0.19,0.00,0.19,0.06,0,0.0,3100
2019-12-30,ACWF,-0.35,0.06,-0.10,-0.38,0,0.0,20000
2019-12-31,ACWF,0.13,-0.22,-0.26,0.06,0,0.0,8300
2020-01-02,ACWF,0.77,0.67,0.77,0.58,0,0.0,6400
2020-01-03,ACWF,-0.86,-0.70,-0.67,-0.51,0,0.0,4200

In [26]:
list_data.index

DatetimeIndex(['2018-08-15', '2018-08-16', '2018-08-17', '2018-08-20',
               '2018-08-21', '2018-08-22', '2018-08-23', '2018-08-24',
               '2018-08-27', '2018-08-28',
               ...
               '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24',
               '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31',
               '2020-01-02', '2020-01-03'],
              dtype='datetime64[ns]', name='Date', length=4589, freq=None)

In [27]:
list_data.drop(list_data.index[0])

,Stock,PCT_Change_Close,PCT_Change_Open,PCT_Change_High,Low,PCT_Change_Low,Stock Splits,Dividends,Volume
Date,,,,,,,,,
2018-08-16,AAAU,0.00,-0.51,-0.34,11.74,0.00,0,0.0,428400
2018-08-17,AAAU,0.68,0.17,0.17,11.77,0.26,0,0.0,52400
2018-08-20,AAAU,0.68,0.68,0.76,11.85,0.68,0,0.0,28700
2018-08-21,AAAU,0.25,0.34,0.34,11.89,0.34,0,0.0,30600
2018-08-22,AAAU,0.25,0.50,0.25,11.94,0.42,0,0.0,101200
...,...,...,...,...,...,...,...,...,...
2019-12-27,ACWF,0.19,0.00,0.19,31.22,0.06,0,0.0,3100
2019-12-30,ACWF,-0.35,0.06,-0.10,31.10,-0.38,0,0.0,20000
2019-12-31,ACWF,0.13,-0.22,-0.26,31.12,0.06,0,0.0,8300
2020-01-02,ACWF,0.77,0.67,0.77,31.30,0.58,0,0.0,6400
2020-01-03,ACWF,-0.86,-0.70,-0.67,31.14,-0.51,0,0.0,4200