In [1]:
import pandas as pd 
import os

path = r"C:\Users\Tony\Downloads\misspellings.csv"

df = pd.read_csv(path)
# df = pd.read_csv(os.path.join(os.getcwd(),'mispellings.csv'))

In [2]:
unique = df['corrected word'].unique()
# unique
# df.loc[df['corrected word'] == 'years']
# List = []
# for word in unique:
#     df = df.loc[df['corrected word'] == word]
#     List.append(df)

In [3]:
# df = df[['corrected word','misspelled word']]
# df = df.set_index('corrected word')
# df = df.sort_index()

# df = df.groupby('corrected word')
# df.describe()

In [4]:
counts = pd.value_counts(df['corrected word'])
type(counts)

pandas.core.series.Series

In [5]:
counts = counts.to_frame()
counts

                    corrected word
successfully                     6
parallelly                       5
that                             5
which                            5
really                           5
...                            ...
Gottlieb                         1
Caesar                           1
unsubstantiated                  1
histocompatibility               1
despite                          1

[1891 rows x 1 columns]

In [7]:
counts.columns = ['counts']
# counts['counts']
df.set_index('corrected word')
df.join(counts['counts'],how='left')

     misspelled word corrected word  counts
0          aberation     aberration     NaN
1            abondon        abandon     NaN
2          abondoned      abandoned     NaN
3           abondons       abandons     NaN
4         abondoning     abandoning     NaN
...              ...            ...     ...
2409            yera           year     NaN
2410           yeras          years     NaN
2411           yersa          years     NaN
2412           yeasr          years     NaN
2413       Yementite       Yemenite     NaN

[2414 rows x 3 columns]