In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
file = r'/home/tony/Desktop/DV_homework/homework1/pitching.csv'

df = pd.read_csv(file,encoding='utf8')

In [4]:
df

,playerID,nameFirst,nameLast,nameGiven,yearID,stint,teamID,lgID,W,L,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,abbotda01,Dan,Abbott,Leander Franklin,1890,1,TL2,AA,0,2,...,NaN,0.0,0.0,0,0.0,2.0,14,NaN,NaN,NaN
1,abbeybe01,Bert,Abbey,Bert Wood,1892,1,WAS,NL,5,18,...,NaN,11.0,0.0,0,0.0,3.0,139,NaN,NaN,NaN
2,abbeybe01,Bert,Abbey,Bert Wood,1893,1,CHN,NL,2,4,...,NaN,2.0,0.0,0,0.0,0.0,52,NaN,NaN,NaN
3,abbeybe01,Bert,Abbey,Bert Wood,1894,1,CHN,NL,2,7,...,NaN,0.0,0.0,0,0.0,0.0,74,NaN,NaN,NaN
4,abbeybe01,Bert,Abbey,Bert Wood,1895,2,BRO,NL,5,2,...,NaN,2.0,0.0,0,0.0,2.0,34,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44134,zimmejo02,Jordan,Zimmermann,Jordan M.,2014,1,WAS,NL,14,5,...,0.0,4.0,6.0,0,800.0,0.0,67,5.0,3.0,11.0
44135,zieglbr01,Brad,Ziegler,Brad Gregory,2015,1,ARI,NL,0,3,...,3.0,2.0,1.0,0,263.0,46.0,17,1.0,0.0,NaN
44136,zimmejo02,Jordan,Zimmermann,Jordan M.,2015,1,WAS,NL,13,10,...,3.0,2.0,8.0,1,831.0,0.0,89,8.0,2.0,NaN
44137,zitoba01,Barry,Zito,Barry William,2015,1,OAK,AL,0,0,...,0.0,0.0,0.0,0,37.0,1.0,8,0.0,0.0,NaN
44138,zychto01,Tony,Zych,Anthony Aaron,2015,1,SEA,AL,0,0,...,0.0,1.0,2.0,0,76.0,4.0,6,0.0,0.0,NaN

In [10]:
df.columns

Index(['playerID', 'nameFirst', 'nameLast', 'nameGiven', 'yearID', 'stint',
       'teamID', 'lgID', 'W', 'L', 'G', 'GS', 'CG', 'SHO', 'SV', 'IPouts', 'H',
       'ER', 'HR', 'BB', 'SO', 'BAOpp', 'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP',
       'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [19]:
pitchers = df.loc[df.yearID == 2015].sort_values(by='nameLast')
pitchers[['nameLast','yearID']]

         nameLast  yearID
341       Aardsma    2015
342          Abad    2015
343        Achter    2015
344         Adams    2015
345        Adcock    2015
...           ...     ...
44135     Ziegler    2015
44136  Zimmermann    2015
44137        Zito    2015
44138        Zych    2015
9437       deGrom    2015

[809 rows x 2 columns]

In [18]:
pitchers_ERA = pitchers.sort_values('ERA',ascending=True)
pitchers_ERA[['nameLast','ERA']]

        nameLast   ERA
3491     Blevins   0.0
33242      Reyes   0.0
32592  Rasmussen   0.0
32580    Ramirez   0.0
32272     Raburn   0.0
...          ...   ...
8206     Cornely  36.0
4987      Burawa  54.0
27583     Morris  67.5
34372     Rondon  90.0
14772  Greenwood   NaN

[809 rows x 2 columns]

In [41]:
pitchers.groupby('teamID')['ERA'].agg(total='count').reset_index()['total']
# g = df_agg['count'].groupby(level=0, group_keys=False)
# res = g.apply(lambda x: x.order(ascending=False))

0     27
1     37
2     22
3     26
4     24
5     29
6     28
7     27
8     30
9     27
10    24
11    24
12    24
13    31
14    29
15    26
16    24
17    33
18    26
19    30
20    30
21    21
22    26
23    28
24    21
25    22
26    27
27    31
28    28
29    26
Name: total, dtype: int64

In [32]:
dir(df_agg)

['BAOpp',
 'BB',
 'BFP',
 'BK',
 'CG',
 'ER',
 'ERA',
 'G',
 'GF',
 'GIDP',
 'GS',
 'H',
 'HBP',
 'HR',
 'IBB',
 'IPouts',
 'L',
 'R',
 'SF',
 'SH',
 'SHO',
 'SO',
 'SV',
 'W',
 'WP',
 '__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_frame',
 '_aggregate_item_by_item',
 '_aggregate_multiple_funcs',
 '_apply_filter',
 '_apply_to_column_groupbys',
 '_apply_whitelist',
 '_assure_grouper',
 '_bool_agg',
 '_builtin_table',
 '_choose_path',
 '_concat_objects',
 '_constructor',
 '_cumcount_array',
 '_cython_agg_blocks',
 '_cython_agg_general',
 '_cython_table',
 '_cython_transform',
 '_define_paths',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_type',
 '_fill',
 '_get_cython_func',
 '_get_cythonized_result',
 '_get_data_to_aggregate',
 '_get_index',
 '_get_indices',
 '_gotitem',
 '_group_selection',
 '_insert_inaxis_grouper_inplace',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_iterate_column_groupbys',
 '_iterate_slices',
 '_make_wrapper',
 '_obj_with_exclusions',
 '_python_agg_general',
 '_python_apply_general',
 '_reindex_output',
 '_reset_cache',
 '_reset_group_selection',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_group_selection',
 '_set_result_index_ordered',
 '_transform_fast',
 '_transform_general',
 '_transform_item_by_item',
 '_transform_should_cast',
 '_try_aggregate_string_function',
 '_try_cast',
 '_wrap_agged_blocks',
 '_wrap_aggregated_output',
 '_wrap_applied_output',
 '_wrap_frame_output',
 '_wrap_transformed_output',
 'agg',
 'aggregate',
 'all',
 'any',
 'apply',
 'backfill',
 'bfill',
 'boxplot',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cumcount',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'dtypes',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'get_group',
 'groups',
 'head',
 'hist',
 'idxmax',
 'idxmin',
 'indices',
 'last',
 'lgID',
 'mad',
 'max',
 'mean',
 'median',
 'min',
 'nameFirst',
 'nameGiven',
 'nameLast',
 'ndim',
 'ngroup',
 'ngroups',
 'nth',
 'nunique',
 'ohlc',
 'pad',
 'pct_change',
 'pipe',
 'playerID',
 'plot',
 'prod',
 'quantile',
 'rank',
 'resample',
 'rolling',
 'sem',
 'shift',
 'size',
 'skew',
 'std',
 'stint',
 'sum',
 'tail',
 'take',
 'teamID',
 'transform',
 'tshift',
 'var',
 'yearID']

IndexError: Column(s) ['nameLast', 'ERA'] already selected