In [1]:
import pandas as pd

# file path
path = r'C:\Users\Tony\Desktop\github\Dataquest-modules\datascience\Formated.csv'

#read file
df = pd.read_csv(path,names=['stock_name','date','Open','High','Low','Close','Volume'])
# show file top five rows
df

      stock_name         date    Open    High     Low   Close  Volume
0           ADDA  19-Nov-2019   11.00   36.00  -10.00   -9.00       0
1           ADDC  19-Nov-2019   -8.00    5.00  -36.00  -25.00       0
2           ADDE  19-Nov-2019  521.00  521.00 -196.00  126.00       0
3           ADDN  19-Nov-2019  335.00  335.00 -326.00  -93.00       0
4           ADDQ  19-Nov-2019  607.00  830.00  106.00  519.00       0
...          ...          ...     ...     ...     ...     ...     ...
24228       Z6FI  04-Dec-2019   56.98   61.29   56.98   61.29       0
24229       Z6OF  04-Dec-2019   49.46   51.61   49.46   50.53       0
24230       Z6OH  04-Dec-2019   47.31   48.38   47.31   48.38       0
24231       Z6TH  04-Dec-2019   48.38   50.53   47.31   50.53       0
24232       Z6TW  04-Dec-2019   50.53   55.91   48.38   55.91       0

[24233 rows x 7 columns]

In [2]:
df = df[(df[['Open','High','Low','Close','Volume']] > 0).all(axis=1)]
df

      stock_name         date    Open    High     Low   Close      Volume
20          ADVA  19-Nov-2019    78.0   107.0    77.0    93.0    28482800
21          ADVC  19-Nov-2019    56.0   105.0    55.0   105.0    25826200
22          ADVE  19-Nov-2019   935.0  1182.0   796.0  1175.0   562686200
23          ADVN  19-Nov-2019  1080.0  1080.0   790.0   900.0  1396396000
24          ADVQ  19-Nov-2019  1352.0  1683.0  1204.0  1519.0  1033410000
...          ...          ...     ...     ...     ...     ...         ...
23944       UNCS  04-Dec-2019   146.0   235.0   146.0   213.0    29923400
23945       UNCT  04-Dec-2019   172.0   180.0   101.0   177.0    60580300
23946       UNCU  04-Dec-2019   295.0   765.0   295.0   752.0  1521459000
23947       UNCV  04-Dec-2019   157.0   338.0   157.0   338.0    35808900
23948       UNCX  04-Dec-2019   360.0   648.0   360.0   648.0    81878800

[10246 rows x 7 columns]

In [3]:
counts = df['stock_name'].value_counts()
counts

N5LJ    12
N1HK    12
N5HP    12
N6DP    12
GLD     12
        ..
N1DM     2
N3DM     2
MYDA     2
M3DL     1
M3DT     1
Name: stock_name, Length: 983, dtype: int64

In [4]:
counts.dtypes

dtype('int64')

In [5]:
stock_most_data = df.stock_name.mode()
stock_most_data

0      ADVC
1      ADVS
2      ADVV
3      ADVX
4      DECC
       ...
118    NYLP
119    UNCC
120    UNCS
121    UNCV
122    UNCX
Length: 123, dtype: object

In [6]:
ADVC = df[df['stock_name'] == 'ADVC']
ADVC

      stock_name         date  Open   High   Low  Close    Volume
21          ADVC  19-Nov-2019  56.0  105.0  55.0  105.0  25826200
2176        ADVC  20-Nov-2019  96.0  168.0  96.0  168.0  41992200
4331        ADVC  21-Nov-2019  90.0  150.0  90.0  149.0  47026500
6492        ADVC  22-Nov-2019  54.0   86.0  50.0   86.0  16321200
8653        ADVC  25-Nov-2019  60.0   89.0  55.0   88.0  15671600
10814       ADVC  26-Nov-2019  59.0   81.0  59.0   81.0  12746100
12975       ADVC  27-Nov-2019  47.0  109.0  47.0  106.0  19617700
15120       ADVC  28-Nov-2019  56.0   99.0  56.0   99.0    142271
15610       ADVC  29-Nov-2019  66.0  126.0  66.0  125.0  18888300
17771       ADVC  02-Dec-2019  73.0   89.0  73.0   88.0  11679300
19932       ADVC  03-Dec-2019  49.0   90.0  48.0   88.0  12603600
22093       ADVC  04-Dec-2019  57.0  103.0  57.0  102.0  15864600

In [7]:
ADVC['date'] = pd.to_datetime(ADVC['date'],dayfirst=True)

c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
ADVC = ADVC.sort_values('date')
ADVC

      stock_name       date  Open   High   Low  Close    Volume
21          ADVC 2019-11-19  56.0  105.0  55.0  105.0  25826200
2176        ADVC 2019-11-20  96.0  168.0  96.0  168.0  41992200
4331        ADVC 2019-11-21  90.0  150.0  90.0  149.0  47026500
6492        ADVC 2019-11-22  54.0   86.0  50.0   86.0  16321200
8653        ADVC 2019-11-25  60.0   89.0  55.0   88.0  15671600
10814       ADVC 2019-11-26  59.0   81.0  59.0   81.0  12746100
12975       ADVC 2019-11-27  47.0  109.0  47.0  106.0  19617700
15120       ADVC 2019-11-28  56.0   99.0  56.0   99.0    142271
15610       ADVC 2019-11-29  66.0  126.0  66.0  125.0  18888300
17771       ADVC 2019-12-02  73.0   89.0  73.0   88.0  11679300
19932       ADVC 2019-12-03  49.0   90.0  48.0   88.0  12603600
22093       ADVC 2019-12-04  57.0  103.0  57.0  102.0  15864600

In [9]:
# Moving Averages (SMA & EWMA)


# Simple Moving Average 
def SMA(data, days): 
    sma = pd.Series(data['Close'].rolling(window=days).mean())
    name = 'SMA_' + str(days) + '_days'
    data[name] = sma
    return data

# Exponentially-weighted Moving Average 
def EWMA(data, days):
    ema = pd.Series(data['Close'].ewm(span = days , min_periods = days -1).mean())
    name = 'EWMA_' + str(days) + '_days'
    data[name] = ema
    return data

days_list = [10,50,100,200]
for days in days_list:
    SMA_ = SMA(ADVC,days)
    EWMA_ = EWMA(ADVC,days)

In [10]:
SMA_

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10814,ADVC,2019-11-26,59.0,81.0,59.0,81.0,12746100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12975,ADVC,2019-11-27,47.0,109.0,47.0,106.0,19617700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15120,ADVC,2019-11-28,56.0,99.0,56.0,99.0,142271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15610,ADVC,2019-11-29,66.0,126.0,66.0,125.0,18888300,NaN,108.631825,NaN,NaN,NaN,NaN,NaN,NaN
17771,ADVC,2019-12-02,73.0,89.0,73.0,88.0,11679300,109.5,104.297983,NaN,NaN,NaN,NaN,NaN,NaN
19932,ADVC,2019-12-03,49.0,90.0,48.0,88.0,12603600,107.8,100.968509,NaN,NaN,NaN,NaN,NaN,NaN
22093,ADVC,2019-12-04,57.0,103.0,57.0,102.0,15864600,101.2,101.174599,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
EWMA_

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10814,ADVC,2019-11-26,59.0,81.0,59.0,81.0,12746100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12975,ADVC,2019-11-27,47.0,109.0,47.0,106.0,19617700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15120,ADVC,2019-11-28,56.0,99.0,56.0,99.0,142271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15610,ADVC,2019-11-29,66.0,126.0,66.0,125.0,18888300,NaN,108.631825,NaN,NaN,NaN,NaN,NaN,NaN
17771,ADVC,2019-12-02,73.0,89.0,73.0,88.0,11679300,109.5,104.297983,NaN,NaN,NaN,NaN,NaN,NaN
19932,ADVC,2019-12-03,49.0,90.0,48.0,88.0,12603600,107.8,100.968509,NaN,NaN,NaN,NaN,NaN,NaN
22093,ADVC,2019-12-04,57.0,103.0,57.0,102.0,15864600,101.2,101.174599,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:

#Bollinger Bands (UpperBB & LowerBB)
def bbands(data, window=days):
    MA = data.Close.rolling(window=days).mean()
    SD = data.Close.rolling(window=days).std()
    data['UpperBB'] = MA + (2 * SD) 
    data['LowerBB'] = MA - (2 * SD)
    return data
days = 12
bbands_ = bbands(ADVC, days)

In [13]:
bbands_

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days,UpperBB,LowerBB
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10814,ADVC,2019-11-26,59.0,81.0,59.0,81.0,12746100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12975,ADVC,2019-11-27,47.0,109.0,47.0,106.0,19617700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15120,ADVC,2019-11-28,56.0,99.0,56.0,99.0,142271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15610,ADVC,2019-11-29,66.0,126.0,66.0,125.0,18888300,NaN,108.631825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17771,ADVC,2019-12-02,73.0,89.0,73.0,88.0,11679300,109.5,104.297983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19932,ADVC,2019-12-03,49.0,90.0,48.0,88.0,12603600,107.8,100.968509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22093,ADVC,2019-12-04,57.0,103.0,57.0,102.0,15864600,101.2,101.174599,NaN,NaN,NaN,NaN,NaN,NaN,161.365146,52.801521

In [14]:
# Force Index (ForceIndex)
def ForceIndex(data, days): 
    FI = pd.Series(data['Close'].diff(days) * data['Volume'], name = 'ForceIndex') 
    data = data.join(FI) 
    return data
days = 1
ForceIndex_ = ForceIndex(ADVC,days)

In [15]:
ForceIndex_

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days,UpperBB,LowerBB,ForceIndex
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.645509e+09
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.935035e+08
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.028236e+09
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.134320e+07
10814,ADVC,2019-11-26,59.0,81.0,59.0,81.0,12746100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.922270e+07
12975,ADVC,2019-11-27,47.0,109.0,47.0,106.0,19617700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.904425e+08
15120,ADVC,2019-11-28,56.0,99.0,56.0,99.0,142271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9.958970e+05
15610,ADVC,2019-11-29,66.0,126.0,66.0,125.0,18888300,NaN,108.631825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.910958e+08
17771,ADVC,2019-12-02,73.0,89.0,73.0,88.0,11679300,109.5,104.297983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.321341e+08
19932,ADVC,2019-12-03,49.0,90.0,48.0,88.0,12603600,107.8,100.968509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
22093,ADVC,2019-12-04,57.0,103.0,57.0,102.0,15864600,101.2,101.174599,NaN,NaN,NaN,NaN,NaN,NaN,161.365146,52.801521,2.221044e+08

In [16]:
# Commodity Channel Index (CCI)
def CCI(data, days): 
    TP = (data['High'] + data['Low'] + data['Close']) / 3 
    CCI = pd.Series((TP - TP.rolling(window=days).mean()) / (0.015 * TP.rolling(window=days).std()), name = 'CCI')
    data = data.join(CCI)
    return data
days = 20
CCI_ = CCI(ADVC, days)

In [17]:
CCI_.head()

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days,UpperBB,LowerBB,CCI
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Ease Of Movement (EVM)
def EVM(data, days): 
    dm = ((data['High'] + data['Low'])/2) - ((data['High'].shift(1) + data['Low'].shift(1))/2)
    br = (data['Volume'] / 100000000) / ((data['High'] - data['Low']))
    EVM = dm / br 
    EVM_MA = pd.Series(EVM.rolling(window=days).mean(), name = 'EVM') 
    data = data.join(EVM_MA) 
    return data 
days = 14
EVM_ = EVM(ADVC, days)

In [19]:
EVM_.head()

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days,UpperBB,LowerBB,EVM
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Rate of Change (ROC)
def ROC(data,days):
    N = data['Close'].diff(days)
    D = data['Close'].shift(days)
    roc = pd.Series(N/D,name='ROW')
    data = data.join(roc)
    return data 
days = 5
ROC_ = ROC(ADVC,days)

In [21]:
ROC_.head()

,stock_name,date,Open,High,Low,Close,Volume,SMA_10_days,EWMA_10_days,SMA_50_days,EWMA_50_days,SMA_100_days,EWMA_100_days,SMA_200_days,EWMA_200_days,UpperBB,LowerBB,ROW
21,ADVC,2019-11-19,56.0,105.0,55.0,105.0,25826200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2176,ADVC,2019-11-20,96.0,168.0,96.0,168.0,41992200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4331,ADVC,2019-11-21,90.0,150.0,90.0,149.0,47026500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6492,ADVC,2019-11-22,54.0,86.0,50.0,86.0,16321200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8653,ADVC,2019-11-25,60.0,89.0,55.0,88.0,15671600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading https://files.pythonhosted.org/packages/14/52/accb990baebe0063977f26e02df36aa7eb4015ed4e86f828cd76273cd6f1/pandas_datareader-0.8.1-py2.py3-none-any.whl (107kB)
Requirement already satisfied: lxml in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas_datareader) (4.4.2)
Requirement already satisfied: pandas>=0.21 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas_datareader) (0.25.3)
Requirement already satisfied: requests>=2.3.0 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas_datareader) (2.22.0)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas>=0.21->pandas_datareader) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas>=0.21->pandas_datareader) (1.17.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from pandas>=0.21->pandas_datareader) (2019.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from requests>=2.3.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from requests>=2.3.0->pandas_datareader) (1.25.7)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from requests>=2.3.0->pandas_datareader) (2.8)
Requirement already satisfied: six>=1.5 in c:\users\tony\desktop\github\dataquest-modules\venv\lib\site-packages (from python-dateutil>=2.6.1->pandas>=0.21->pandas_datareader) (1.13.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.8.1

In [24]:
import pandas_datareader as pdr
df = pdr.get_data_yahoo('GLD','2016-11-8')

In [25]:
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-11-07,122.709999,121.879997,122.660004,122.150002,10015000,122.150002
2016-11-08,123.089996,121.360001,122.120003,121.639999,9480600,121.639999
2016-11-09,124.349998,121.110001,124.300003,121.559998,18236500,121.559998
2016-11-10,121.540001,119.379997,121.519997,119.750000,22268000,119.750000
2016-11-11,119.690002,116.230003,119.650002,117.099998,20381800,117.099998